<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
   

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJETO I</title>

</head>

<body>
    
<div id="wrapper" class="wrapper"> 

    <div id="top">

<h1> V.A Store</h1>
<p>xXx</p>
    </div>

    <div id="inner-wrapper" class="wrapper">

<div id="menubar">
    <ul id="menulist">
        <li class="menuitem" id="m-home" onclick="aba1()">home</li>
        <li class="menuitem" id="m-item"onclick="aba2()">itens a venda</li>
        <li class="menuitem" id="m-cadastro"onclick="aba3()">Cadastro</li>
        <li class="menuitem" id="m-contato"onclick="aba4()">Contato</li>
        <li class="menuitem" id="m-sobre"onclick="aba5()">Sobre</li>
        <li class="menuitem" id="m-equipe"onclick="aba6();">Equipe</li>
    </ul>

</div>

<div id="main">

  <div id="caixa-s">
<h1>Bem-Vindo</h1>
<h2>V.A Store</h1>
<h3>Sempre com você</h2>
</div>  

</div>

<div id="bottom">
    <p class="p-small">Copyright © 2020 <a href="#">V.A</a> - All rights reserved</p>
</div>
</div>

<audio id="audio" src="./audio/audio.mp3"></audio>
<script src="./js/script.js"></script>
</body>

</html>