<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="../StayLearn/css/main.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vida FullStack</title>
</head>

<body>

    <!-- Header  -->
    <header class="container">

        <section class="row">
        <div><img src="./imagens/logo.png" alt="Logo VF"></div>

        <nav>
            <ul >
                <li><a href="#">Home</a> </li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Portfólio</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#" class="btn btn-laranja" >Currículo</a></li>
            </ul>

        </nav>
    </section>
    </header>


    <!-- Article  -->

    <main class="container">

        <section class="row sobre-web-design">
            <article>
                <h1>Front End</h1>
                <h2>Landing Page</h2>
                <p>Lorem Ipsum is simply dummy text of
                    the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and.</p>
                <a href="#" class="btn btn-laranja">Saiba Mais</a>
            </article>
            <figcaption>
                <img src="./imagens/pessoas-construindo-pc.png" alt="Pessoas">

            </figcaption>

        </section>
    </main>



    <!-- Footer  -->

    <footer >


        <ul>

            <li> <a href="#"><img src="./imagens/logo-insta.png" alt=""></a></li>
            <li> <a href="#"><img src="./imagens/logo-twitter.png" alt=""></a></li>
            <li> <a href="#"><img src="./imagens/logo-facebook.png" alt=""></a></li>

        </ul>






    </footer>


</body>

</html>