<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>

        <div class="inicial">
            <h1>10,000+ of our users love our products.</h1>
            <p>We only provide great products combined with excellent customer service.</p>
        </div>


        <div class="span">

            <div class="span-box">

                <div>
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                </div>

                <div>
                    <p>Rated 5 Stars in Reviews</p>
                </div>

            </div>

            <div class="span-box span-box2">

                <div>
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                </div>

                <div>
                    <p>Rated 5 Stars in Reviews</p>
                </div>

            </div>

            <div class="span-box span-box2 span-box3">

                <div>
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                    <img src="./public/images/icon-star.svg" alt="">
                </div>

                <div>
                    <p>Rated 5 Stars in Reviews</p>
                </div>

            </div>

        </div>
    </header>

    <main>

        <div class="reviews">


            <div>
                <img src="./public/images/image-colton.jpg" alt="">
            </div>
            <div class="txt">
                <h5>Colton Smith</h5>
                <p>Verified Buyer</p>
            </div>

            <div class="texto-review">
                <p>"Lorem ipsum dolor sit amet. Aut aperiam harum et perspiciatis iusto id nesciunt quisquam" </p>
            </div>



        </div>

        <div class="reviews">


            <div>
                <img src="./public/images/image-irene.jpg" alt="">
            </div>
            <div class="txt">
                <h5>Irene Bradder</h5>
                <p>Verified Buyer</p>
            </div>

            <div class="texto-review">
                <p>"Lorem ipsum dolor sit amet. Aut aperiam harum et perspiciatis iusto id nesciunt quisquam" </p>
            </div>



        </div>

        <div class="reviews">


            <div>
                <img src="./public/images/image-anne.jpg" alt="">
            </div>
            <div class="txt">
                <h5>Anne Wallace</h5>
                <p>Verified Buyer</p>
            </div>

            <div class="texto-review">
                <p>"Lorem ipsum dolor sit amet. Aut aperiam harum et perspiciatis iusto id nesciunt quisquam" </p>
            </div>



        </div>
        </div>



    </main>


</body>

</html>