@media(max-width: 1920px) {

body{

    background-size: 880px;

}

}

@media (max-width: 1680px){

body{
    background-size: 800px;

}

}
@media (max-width: 1440px){

    body{
        background-size: 750px;
    
    }
    
    }
@media (max-width: 1448px){

    body{
          background-size: 700px;
        
     }
        
     }
@media (max-width: 1280px){

    body{
          background-size: 650px;
            
     }
            
     }

@media (max-width: 1024px){

     body{
        background-position-x: -100px;
                
     }
                
     }
     
