*{
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: #ffffff;
    border: none;

}

body{

background-image: url("../img/background.jpg");
background-size: cover;

}

header img{

    width: 300px;
    height: 150px;

}
.input-txt input{
    padding: 5px 5px;
    color: #B72228;
    font-weight: bold;
    height: 25px;
    width: 300px;
    background-color: #ffffff;
    border-style: groove;
    border-color: #B72228;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    
}


button{

    cursor: pointer;
    
    
}

.plataforms button{
    background-color: rgb(26, 26, 26,0);
    

}

.plataforms img{

width: 120px;
height: auto;

}
#ps4 {
    border-style: inset;
    border-color: #ffffff;
    padding: 4px 4px;
    
}
#windows{

    border-style: inset;
    border-color: #ffffff;
    padding: 4px 4px;

}
#xbox{

    border-style: inset;
    border-color: #ffffff;
    padding: 4px 4px;

}

#botaoEnviar{

    margin-top: 6vh;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color:  #f3f1f1;
    color:  #B72228;
    font-weight: bold;
    font-size: 2.2vh;
    border-style: groove;
    border-color: #B72228;
}


.ajuste{

    width: 150px !important;
    height: auto !important;
    
    
}

.arma1{
    padding: 0px 0px 0px 0px !important;
    background-color: rgb(0, 0, 0) !important;
}
.arma2{
    padding: 0px 0px 0px 0px !important;
    background-color: rgb(0, 0, 0) !important;
}
.arma3{
    padding: 0px 0px 0px 0px !important;
    background-color: rgb(0, 0, 0) !important;
}

@media (min-width: 768px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 150px;
    }
    #botaoEnviar{

        
        width: 250px;
        height: 40px;
        }
}

@media (min-width: 1024px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 280px;
    }
    #botaoEnviar{

        
        width: 250px;
        height: 40px;
        }
}

@media (min-width: 1360px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 380px;
    }
    #botaoEnviar{

        
        width: 350px;
        height: 40px;
        }
}

@media (min-width: 1440px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 450px;
    }
}

@media (min-width: 1700px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 600px;
    }
    #botaoEnviar{

        
        width: 450px;
        height: 40px;
        }
}

@media (min-width: 1900px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 700px;
    }
    #botaoEnviar{

        
        width: 450px;
        height: 40px;
        }
}

@media (min-width: 1900px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 740px;
    }
    #botaoEnviar{

        
        width: 450px;
        height: 40px;
        }
}

@media (min-width: 2151px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 860px;
    }
    #botaoEnviar{

        
        width: 450px;
        height: 40px;
        }
}
@media (min-width: 2360px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 950px;
    }
    #botaoEnviar{

        
        width: 450px;
        height: 40px;
        }
}
@media (min-width: 2560px) {

    .plataforms{

        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 980px;
    }
    #botaoEnviar{

        margin-top: 6vh;
        text-align: center;
        width: 350px;
        height: 40px;
        background-color:  #f3f1f1;
        color:  #B72228;
        font-weight: bold;
        font-size: 2.2vh;
        border-style: groove;
        border-color: #B72228;
    }
}
