<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/main.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piroll</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>

    <header class="container">
        <section class="row">
            <nav>
                <ul class="test">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">MENU</a></li>
                    <li><a href="#">GALLERY</a></li>
                </ul>
            </nav>

            <div class="imgLogo"><img src="./imgs/LogoCima.png" alt="Logo barra"></div>

            <nav>
                <ul>
                    <li><a href="#">BOOKINGS</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main class="container">

        <section class="row sobre-web-design">

            <article>
                <h1>START YOUR MEAL WITH <br> OUR
                    EXCLUSIVE MENU
                </h1>
                <h2>learn more...</h2>
            </article>

            <figcaption id="LogoBody"><img src="./imgs/Logo.png" alt="Logo main"></figcaption>
            <figcaption id="imgPanelas"><img src="./imgs/Panelas.png" alt="Panelas"></figcaption>


            <article>
                <h1 id="NowText">BOOK YOUR <br> TABLE <a id="now">NOW</a>
                </h1>

            </article>

        </section>

    </main>


</body>

</html>