#circulo{

height: 100px;
width: 100px;
border-radius: 50%;
background-color: rgb(0, 0, 0);
}
#x{

    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    }


