*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #323232;
    border: none;
    list-style: none;
    text-decoration: none;
    
}

/* MEDIDAS */

header{
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    padding: 0px 25vh;
}


header img{
    
    width: auto;
    height: 70px;
}

header ul ,nav{
    
    display: flex;
    flex-direction: row;
}
header ul li{
    padding: 0 2vh;
}

main{
    margin-top: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin-left: 65vh;
    margin-right: 35vh;
    height: 100%;
    
    }

    main .div-sobre{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.979);
        height: 100%;
        width: 500px;
        
    }
    main h2{

        font-size: 1rem;

    }
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-style: inset;
        border-width: 1px;
        width: 100%;
      }

/*  fIM medidas  */


/*  Styles  */

header{
    background-color: rgb(255, 255, 255);
}

body{

background-color: #fff;

}

#sobre{
color: #016450;
text-shadow:0.3px 0.3px 0.3px #016450;

}

/*  MAIN  */

main h1{

    font-size: 2.5rem;

}

main img{

height: 150px;
width: auto;

}






/*  FOOTER  */

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    height: 90px;
    background-color: #fff;
    justify-content: space-around;

}

.p-small{

    font-size: 0.5rem;

}





.font-100{
    font-weight: 100;
}

.font-200{

    font-weight: 200;
}