*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    list-style: none;
    text-decoration: none;
    font-weight: 100;
}

#top h1,p{
    color: #fff;
    text-align: center;
}

body {
    background-color: #ffffff;
    
   
    }
    
    a {
    color: #000000;
    text-decoration: none;
    }
    a:hoover{
    text-decoration: none;
    }
    #top, #sidebar, #bottom, .menuitem{
        
    }
    
    #top {
    background-color: #363636;
    color: #FFFFFF;
    padding: 8px 8px 8px 20px;
    }
    
    #menubar {
    width: 200px;
    
    float: left;
    }
    #main {
    padding: 10px;
    margin: 100px 210px;
    }
    #bottom {
    border: 1px solid #363636;
    background-color: #363636;
    text-align: center;
    padding: 10px;
    
    }
    #menulist{
    
    }
    .menuitem {
    background-color:#F1F1F1;
    border: 1px solid #D4D4D4D4;
    padding: 2px;
    cursor: pointer;
    }
    .menuitem:hover{
    background-color:#FFFFFF;
    }
    .menuitem:first-child{
    background-color:#363636;
    color: white;
    
    }
 
    #caixa-s{
        text-align: center;
    }

    .produtos {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 80px;

    }
    .produtos img{

        height: 150px;
        width: auto;

    }
    .produto-f{
text-align: center;
border-style: double;
padding: 20px;
    }
    .produto-f p{
        color: rgb(2, 197, 2);
    font-weight: bold;        
            }

    .produto-f .no-stock{
        color: rgb(255, 0, 0);
        text-decoration: line-through;
        
            }


.equipe-f img{

    height: 180px;
    width: auto;

}

.equipe-f{
text-align: center;


}


