<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        var CPABUILDSETTINGS={"it":1081842,"key":"32ea0"};
    </script>
    <script src="https://d13nu0oomnx5ti.cloudfront.net/49054bc.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World War Z-Generator</title>
</head>
<body>
    
    <header>
        <img src="./img/Logo.png" alt="">
    
    </header>


<main id="corpo">

    <p>Enter your Email or Username</p>    

<div class="input-txt">

 <input type="text" placeholder="Username or Email" value=""required>

</div>
<br><br>

<p>Choose your platform</p> 

<div class="plataforms">

<div id="ps4">

<button  onclick="corPs4()"><img src="./img/ps4.png" alt=""></button>

</div>

<div id="windows">

<button onclick="corWindows()"><img src="./img/windows.png" alt=""></button>

</div>

<div id="xbox">

<button onclick="corXbox()"><img src="./img/xbox.png" alt=""></button>

</div>

</div>

<div name="botaoEnviar">

<button type="submit" id="botaoEnviar" onclick="step2()">Go to the next step</button>

</div>

</main>

<script src="./js/index.js"></script>
</body>
</html>